anndata
muon
git+https://github.com/ayaandroid/mofapy2.git@fix-np-inf
imbalanced-learn
ipdb
ipython
matplotlib
mofax
numpy
openpyxl
pandas
python-docx
scanpy
scikit-bio
scikit-learn
scipy
seaborn
shap
statsmodels
workforce
